/* Estilos gerais */
body {
    margin: 16px;
    font-family: Arial, sans-serif;
    background-color: #ffebeb;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaçamento entre os contêineres */
    padding: 16px; /* Margens internas */
    
    margin:  auto; /* Centraliza o container */
}

/* Header */
.header {
    background-color: #0077ff;
    padding: 16px;
    border-radius: 8px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
    margin: 0 8px; /* Espaçamento entre os itens */
}

/* Mensagens */
.mensagens {
    background-color: #0095ff;
    padding: 16px;
    border-radius: 8px;
    color: white;
}

.mensagens ul {
    margin: 16px;
    padding-left: 16px;
}

.mensagens li {
    margin-bottom: 16px; /* Espaçamento entre as mensagens */
}

/* Aulas */
.aulas {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espaçamento entre as disciplinas */
}

.disciplina {
    background-color: #388bff;
    padding: 16px;
    border-radius: 8px;
    color: white;
    flex: 1 1 calc(33.33% - 16px); /* 3 disciplinas por linha em telas maiores */
    text-align: center;
}

.disciplina p {
    margin: 16px;
}

/* Notícias */
.noticias {
    background-color: #60a1da;
    padding: 16px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.noticias p {
    margin: 16px;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .aulas {
        flex-direction: column; /* Muda o layout para coluna em telas menores */
    }

    .disciplina {
        flex: 1 1 100%; /* As disciplinas ocupam 100% da largura */
    }
}